#### Exercise 1: Arithmetic operators

In [2]:
print(10+5*3)
print((10+5)*3)
print(20/4)
print(20//4)
print(21//4)
print(21%4)
print(2**5)

25
45
5.0
5
5
1
32

#### Exercise 2: Operator precedence

In [3]:
5+3*2-8/4**2

10.5

#### Exercise 3: Comparison Operators

In [5]:
print(50>100)
print(33 == 33.0)
print("hello"!="world")
len("python")>=5

False
True
True

True

#### Exercise 1: Variables

In [6]:
city = "New York"
print(city)
city = "London"
print(city)

New York
London

#### Exercise 2: Assignment variables

In [11]:
score = 100
score = score - 25
score = score * 2
score

150

#### Exercise 3: Variable Naming

In [ ]:
1st_place = 1 # firs term should not be number
first-place = 1 # "-" cannot be used when naming
_first_place = 1 # Valid
for = 1 # Keywords cannot be used as a variable name
FirstPlace = 1 # Valid

#### Exercise 4: Data Types

In [14]:
print(type(99))
print(type("99"))
print(type(99.0))
print(type(False))
print(type(None))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

#### Exercise 5: Type Conversion

In [15]:
price_str = "25.99"
price_float = float(price_str)
quantity = 3
strquantity = str(quantity)
print(strquantity + "items")

3items

#### Exercise 1: Concatenation and Replication

In [16]:
first_name = "Isa"
last_name = "Ibadov"
full_name = first_name + " " + last_name
separator = '-'*30
print(full_name)
print(separator)

Isa Ibadov
------------------------------

#### Exercise 2: Escape Characters

In [17]:
text = 'The file is located at: \nC:\\Users\\new_folder\\tabbed_file.txt \nHe said, "It\'s a beautiful day."'
print(text)

The file is located at:
C:\Users\new_folder\tabbed_file.txt
He said, "It's a beautiful day."

#### Exercise 3: Indexing and Slicing

In [18]:
s = "Programming is fun!"
print(s[4])
print(s[-1])
print(s[11:13])
print(s[3:7])
print(s[::-1])

r
!
 i
gram
!nuf si gnimmargorP

#### Exercise 4: String Methods

In [23]:
tweet = "  Wow, what a great game! #sports #python  "
print(tweet.lower())
print(tweet.strip())
print(tweet.replace("#python","#DataScience"))
print(tweet.split())

  wow, what a great game! #sports #python
Wow, what a great game! #sports #python
  Wow, what a great game! #sports #DataScience
['Wow,', 'what', 'a', 'great', 'game!', '#sports', '#python']

#### Exercise 1: User Greeting

In [26]:
Name = input("Enter your name: ")
print(f"Hello, {Name}!")

Hello, Isa!

#### Exercise 2: Age Calculator

In [29]:
current_year = input("Enter the current year: ")
birth_year = input("Enter your birth year: ")
age = int(current_year) - int(birth_year)
print(f"Your age is {age}")

Your age is 19

#### Exercise 3: Formattet Output

In [34]:
item = "Laptop"
price = 1200.50
quantity = 2
total_cost = price * quantity
print(f"Item: {item}, Quantity: {quantity}, Total Cost: ${total_cost:,.2f}")

Item: Laptop, Quantity: 2, Total Cost: $2,401.00