In [3]:
age = 20

if age >= 20: print("yetkin")

yetkin

In [6]:
if age>=20:
    x = 'a'
else:
    x = 'b'
print(x)

x = 'a' if age>=20 else 'b'; print(x)
print(x)

a
a
a

In [9]:
day = "holiday"  

match day:   # Used mostly for discrete values
    case 'Monday':
        print('m')
    case 'Tuesday':
        print('t')
    case 'Wednesday':
        print('w')
    case 'Thirsday':
        print('th')
    case 'Friday':
        print('f')
    case 'Saturday':
        print('sat')
    case 'Sunday':
        print('sun')
    case _: #Sığorta
        print('invalid')

invalid

In [15]:
fruits = ['alma','armud','qarpiz']

for fruit in fruits:
    print(fruit)

fruit

alma
armud
qarpiz

'qarpiz'

In [18]:
for age in range(20,25,2):
    print(age*2)

40
44
48

In [29]:
name_age = [('ali',20),('hesen',21),('xalide',30)]


for i, (n,a) in enumerate(name_age):  # returns index, value
    print(i)
    print(n,a)
    print('----------')
    if i == 1:
        break

0
ali 20
----------
1
hesen 21
----------

In [42]:
name_age = [('ali',20),('hesen',21),('xalide',30)]


for i, (n,a) in enumerate(name_age):  # returns index, value
    if i == 1:
        continue
    print(i)
    print(n,a)
    print('----------')

[(n,a) for n,a in name_age if a//10 == 2] # list comprehension

0
ali 20
----------
2
xalide 30
----------

[('ali', 20), ('hesen', 21)]

In [40]:
count = 0
while count<10:
    print(count) 
    count+=1

print(count)

0
1
2
3
4
5
6
7
8
9
10

In [41]:
names = ['ali','hesen','isa']
ages = [20,21,22]
for name in names:
    print(name)
    for age in ages:
        print(age)

ali
20
21
22
hesen
20
21
22
isa
20
21
22

#### Exercise 7:

In [43]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in numbers:
    if number % 2 == 0:
        print(number)

2
4
6
8
10

#### Exercise 8

In [45]:
count = 10

while count > 0:
    print(count)
    count-=1

print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

#### Exercise 9

In [49]:
for i in range(1,21):
    if i % 3 == 0:
        continue
    print(i)

print("________________________")

for i in range(1,21):
    if i >= 15:
        break
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
________________________
1
2
3
4
5
6
7
8
9
10
11
12
13
14

#### Exercise 10

In [51]:
words = ["apple","banana","cherry","date"]
first_letters = [word[0] for word in words]
first_letters

['a', 'b', 'c', 'd']

#### Exercise 11

In [54]:
numbers = [1, -2, 3, -4, 5, -6, 7, -8]
positive_numbers = [number for number in numbers if number > 0]
positive_numbers

[1, 3, 5, 7]

In [60]:


numbers = [1, -2, 3, -4, 5, -6, 7, -8]
new_list = [number if number > 0 else "negative" for number in numbers]
new_list

negative

[1, 'negative', 3, 'negative', 5, 'negative', 7, 'negative']

In [58]:
matrix = [[1,2],[3,4],[5,6]]

for row in matrix:
    for i in row:
        print(i*2)


output = [i*2 for row in matrix for i in row]
output

2
4
6
8
10
12

[2, 4, 6, 8, 10, 12]

In [2]:
my_list = [1,2,3,4,5]
del my_list[3]
my_list

[1, 2, 3, 5]

In [5]:
if my_list == 'ali':
    pass
else:
    my_list.extend([6,'ali'])

my_list

[1, 2, 3, 5, 6, 6, 'ali']

In [6]:
i = 0

while type(my_list[i]) == int:
    print(my_list[i])
    i += 1

1
2
3
5
6
6

In [13]:
reqemler = [-2,-1,1,3,4,7,11]
kvadratlar = [i**2 for i in reqemler]

kvadratlar2 = []
for reqem in reqemler:
    kvadrat = reqem**2
    kvadratlar2.append(kvadrat)

kvadratlar2

[4, 1, 1, 9, 16, 49, 121]

In [15]:
reqemler = [-2,-1,1,3,4,7,11]
kvadratlar2 = [reqem if reqem%2 == 0 else reqem**2 for reqem in reqemler if reqem > 0] # right side = filter, left side = condition
kvadratlar2

[1, 9, 4, 49, 121]

In [17]:
my_matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
[elem for setir in my_matrix for elem in setir]

[1, 2, 3, 4, 5, 6, 7, 8, 9]