##### Dictionary

In [2]:
{
    'key' : 'value',
    'key2' : 'value2' 
}

person = {
    "ad" : "shahriyar",
    "soyad" : "mammadli",
    "yash" : 11
}

person
person['yash'] = 34
person

{'ad': 'shahriyar', 'soyad': 'mammadli', 'yash': 34}

In [4]:
list(person.keys())

['ad', 'soyad', 'yash']

In [5]:
del person['ad']
person

{'soyad': 'mammadli', 'yash': 34}

In [6]:
person['ad'] = 'ali'
person

{'soyad': 'mammadli', 'yash': 34, 'ad': 'ali'}

In [7]:
person.get('boy',180)

180

In [8]:
person = {
    "ad" : "shahriyar",
    "soyad" : "mammadli",
    "yash" : 11,
    "nomreler" : ['055478383','0554383837'],
    "qeydiyyat" : {
        'daimi' : 'Absheron',
        'faktiki' : 'Baki'
    }
}

person['qeydiyyat']

{'daimi': 'Absheron', 'faktiki': 'Baki'}

In [12]:
my_set = {180,20,20}  # Sets
my_set.add('ali')
my_set

# intersection, union, difference

{180, 20, 'ali'}

#### Functions

In [19]:
# definition

def f(x):
    """
    bu funksiya kvadrata yukseldir
    """
    # print(x**2)
    return x**2

type(f(5))

def f():
    print("Salam")

f()

def sum(a,b):
    sum = a + b
    return sum
sum(sum(10,29),sum(5,5))

Salam

49

In [21]:
def power(base, degree = 2): # (positional argument, key-word argument --> should be in the end)
    result = base**degree
    return result

power(11)

121

In [24]:
def bol(neyise,neyese):
    if neyese == 0:
        print("sifira bolmek olmaz")
        return  # behaves like 'break' function
    qismet = neyise/neyese
    return qismet

bol(55,0)

sifira bolmek olmaz

In [8]:
def square(reqem:int):
    kvadrat = reqem**2
    return kvadrat

square(3.5)

def salam_De(adamlar: list):
    salam_cumlesi = 'salam '
    for adam in adamlar:
        salam_cumlesi = salam_cumlesi + f"{adam}, "

    return salam_cumlesi

salam_De(["Ali","isa"])

siyahi = [1,5,10]

sum=0
for reqem in siyahi:
    sum += reqem

print(sum)

16

#### Scope

In [15]:
cem = 100

def toplam(a,b):
    global cem
    cem = a + b
    return cem

print(toplam(1,2))
cem

x = 100
y = 200
z = 300
def topla(a,b,c): 
    return x+y+z
topla(1,2,3)

3

600

In [19]:
def topla(a,b): return a+b
topla(1,2)
(lambda ad:f"salam {ad}")("eli")

'salam eli'

#### Exercise 1

In [32]:
movie = {
    "title":"Snowman",
    "director":"Jo nesbo",
    "year":2016,
    "genre":"detective"
}
movie["title"]
movie["rating"] = 8.5
movie["year"] = 2014
del movie["genre"]
movie

{'title': 'Snowman', 'director': 'Jo nesbo', 'year': 2014, 'rating': 8.5}

#### Exercise 2

In [44]:
print(movie.keys())
print(movie.values())
print(tuple(movie.items()))
print(movie.get("producer","Unknown"))
print("director" in movie.keys())

dict_keys(['title', 'director', 'year', 'rating'])
dict_values(['Snowman', 'Jo nesbo', 2014, 8.5])
(('title', 'Snowman'), ('director', 'Jo nesbo'), ('year', 2014), ('rating', 8.5))
Unknown
True

#### Exercise 3

In [51]:
employees = {
    "Alice": {"role": "Developer", "salary":80000},
    "Bob": {"role": "Designer", "salary":75000}
}

print(employees["Alice"]["role"])
employees["Bob"]["salary"] = 78000
employees["Charlie"] = {"role": "Manager","salary": 90000}
employees

Developer

{'Alice': {'role': 'Developer', 'salary': 80000},
 'Bob': {'role': 'Designer', 'salary': 78000},
 'Charlie': {'role': 'Manager', 'salary': 90000}}

#### Exercise 4

In [56]:
numbers = [10, 20, 30, 20, 40, 10, 50]
setofnumbers = set(numbers)
setofnumbers
setofnumbers.add(60)
setofnumbers.add(10)
setofnumbers

{10, 20, 30, 40, 50, 60}

#### Exercise 5

In [64]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

unionofsets = set1.union(set2)
unionofsets
intersectionofsets = set1.intersection(set2)
intersectionofsets
print(set1.difference(set2))
print(set2.difference(set1))
print(set2.symmetric_difference(set1))
print(unionofsets.difference(intersectionofsets))

{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

#### Exercise 6

In [66]:
def print_greeting():
    print("Hello, world!")

print_greeting()

Hello, world!

#### Exercise 7

In [68]:
def calculate_area(width, height):
    area = width * height
    return area

area = calculate_area(5,10)
print(area)

50

#### Exercise 8

In [22]:
def send_email(recipient, body, subject = "No subject"):
    print(f"To : {recipient}")
    print(f"Subject : {subject}")
    print(f"Body : {body}")

send_email("Teacher","Hello")

To : Teacher
Subject : No subject
Body : Hello

#### Exercise 9

In [1]:
def is_number(number):
    return number > 0

is_number(-1)

False

#### Exercise 10

In [3]:
def find_long_words(words:list, min_length:int):
    new_words=[]
    for word in words:
        if len(word) > min_length:
            new_words.append(word)

    return new_words

        
find_long_words(words=["apple","banana","cherry","date","elderberry"],min_length=5)

['banana', 'cherry', 'elderberry']

#### Exercise 11

In [4]:
x = 50

def update_x():
    x = 100
    print(f"Inside function: x = {x}")

update_x()
print(f"Outside function: x = {x}")

Inside function: x = 100
Outside function: x = 50

#### Exercise 12

In [9]:
x = 50

def update_x_global():
    global x
    x = 100

update_x_global()
print(f"Outside function: x = {x}")

Outside function: x = 100